@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* tes commit*/
/* Ini untuk semua*/
* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Ini kalau isi pagenya tidak ada yang bisa discroll bakal hilang otomatis scroll atas bawahnya */
body {
  overflow-y: auto;
}

/* Ini bagian membentuk navbar */
.navbar {
  height: 55px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #0e0f10;
  position: sticky;
  margin-top: 0;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgb(245, 162, 58, 1);
  z-index: 999;
}

.navbar img {
  height: 80%;
  margin-left: 20px;
}

.navbar a {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
}
.fitur a {
  color: #575757;
}
.fitur a:hover {
  color: whitesmoke;
}
a.active {
  color: white;
  font-weight: 600;
}

.navbar .find_us {
  background-color: #26282b;
  color: white;
  padding: 5px;
  padding-left: 35px;
  padding-right: 35px;
  margin-right: 20px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

/* Ini bagian untuk halaman home */
.home-container {
  height: 600px;
  background-color: #11100e;
  opacity: 100%;
  overflow: hidden;
  position: relative;
}

/* Ini bagian konten pada halaman home */
.home-container img {
  height: auto;
  width: 95%;
  position: absolute;
  left: 60%;
  top: 70%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.home-container .teks_home {
  color: white;
  position: absolute;
  top: 30%;
  z-index: 1;
  left: 7%;
}

.home-container p {
  width: 35%;
  margin-top: 10px;
}

.home-container .kenali {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 15%;
  border-radius: 25px;
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Ini bagian product  */
.product-container {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  min-height: 50vh;
  margin-top: 20px;
}

.product-container h1 {
  text-align: center;
  margin: 15px 0; /* Menyesuaikan margin atas dan bawah */
  color: white;
}

/* Ini bagian about us  */
.about-container {
  height: 700px;
  position: relative;
}

.about-container h1 {
  text-align: center;
  margin-top: 15px;
}

.about-container .teks-about {
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.about-container .gambar-about {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.about-container .gambar-about img {
  width: 339px;
  height: 267px;
}

.about-container .kotak-about {
  width: 428px;
  height: 129px;
  border: 1px solid black;
  position: absolute;
  left: 56.5%;
  bottom: 60px;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1280px) and (min-height: 768px) {
  .about-container .kotak-about {
    left: 56.3%;
  }
}

.about-container .kotak-about .about-teks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container .kotak-about h1 {
  color: white;
}

.about-container .kotak-about p {
  color: white;
}

.about-container .teks-about p {
  font-size: 20px;
}

/* Ini bagian location  */
.location-container {
  height: 600px;
}

.location-container h1 {
  text-align: center;
  margin-top: 20px;
}

.map-container {
  display: flex;
  margin-top: 2%;
  margin-left: 15%;
}

.map-card {
  max-width: 600px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.map-card iframe {
  width: 600px;
  height: 400px;
  border: 0;
}

.info-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-right: 30px;
}
.info-card h3 {
  text-align: center;
  margin-bottom: 10px;
}
.info-card p {
  margin-bottom: 10px;
  font-weight: 400;
  color: #333;
}
.button {
  margin-top: 50%;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: black;
}

/* Ini bagian footer  */
.footer {
  height: 200px;
  background-color: #0e0f10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 20px;
}

.footer .logo-footer p {
  margin-top: 10px;
  color: white;
}

.footer .halaman-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .halaman-footer,
.footer .media-sosial {
  margin-top: 30px;
}

.footer .halaman-footer h2,
a {
  color: white;
}

.footer .halaman-footer a {
  margin-top: 5px;
}

.footer .media-sosial {
  margin-right: 200px;
}

.footer .media-sosial h2 {
  color: white;
}

.footer .media-sosial .instagram,
.footer .media-sosial .facebook {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.footer .media-sosial .instagram a,
.footer .media-sosial .facebook a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Menghapus garis bawah pada tautan */
}

.footer .media-sosial span {
  color: white;
  margin-left: 7px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.footer .media-sosial .instagram img,
.footer .media-sosial .facebook img {
  margin-top: -px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 20px;
}

/* Ini bagian floating whatsapp */
.contact-container {
  position: fixed;
  bottom: 20px;
  left: 85%;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  background-color: #26282b;
  padding: 5px 20px;
  border-radius: 50px;
}

.contact-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.contact-container span {
  margin-right: 10px;
}

.whatsapp-icon {
  width: 40px;
  height: auto;
  margin-top: -2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container:hover {
  transform: scale(1.1);
}

/* Gaya untuk elemen wrapper */
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

/* Gaya untuk ikon dalam wrapper */
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

/* Status aktif untuk ikon */
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

/* Posisi untuk ikon child pertama dan terakhir */
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}

/* Gaya untuk kontainer carousel */
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(
    (100% / 3) - 12px
  ); /* Menyesuaikan lebar kolom berdasarkan jumlah item */
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Memungkinkan snap ke grid */
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth; /* Perilaku scroll halus */
  scrollbar-width: none; /* Sembunyikan scrollbar untuk Firefox */
}

/* Sembunyikan scrollbar untuk WebKit (Chrome, Safari, dll.) */
.carousel::-webkit-scrollbar {
  display: none;
}

/* Hapus perilaku scroll halus selama transisi */
.carousel.no-transition {
  scroll-behavior: auto;
}

/* Sesuaikan perilaku scroll saat sedang menyeret */
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

/* Gaya untuk status menyeret */
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

/* Gaya untuk kartu dan gambar dalam carousel */
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gaya individual untuk kartu dalam carousel */
.carousel .card {
  scroll-snap-align: start; /* Pastikan kartu snap ke awal grid */
  height: 342px; /* Atur tinggi kartu */
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

/* Gaya untuk kontainer gambar dalam kartu */
.carousel .card .img {
  background: #8b53ff;
  height: 148px;
  width: 148px;
}

/* Gaya gambar dalam kartu */
.card .img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #decbcb;
}

/* Gaya heading dalam kartu */
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

/* Gaya span dalam kartu */
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

/* Media queries untuk responsivitas */
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc(
      (100% / 2) - 9px
    ); /* Sesuaikan lebar kolom untuk layar yang lebih kecil */
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%; /* Sesuaikan lebar kolom menjadi 100% untuk layar yang lebih kecil */
  }
}
